body {
  font-family: 'Arial', sans-serif;
  color: #333333;
  text-align: justify; /* Add this line to justify text */
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Century Gothic', sans-serif;
  color: #003366;
}

#overall-trends {
  background-color: #f9f9f9;
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
}

#short-term-trends {
  background-color: #f9f9f9;
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
}

#introduction, #conclusion {
  margin-bottom: 30px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

table, th, td {
  border: 1px solid #ddd;
}

th, td {
  padding: 8px;
  text-align: left;
}

th {
  background-color: #003366;
  color: white;
}